.page {
    
  padding: 20px 60px;
  font-family: sans-serif;
}
.page-title {
  color: red;
  margin-top: 12px;
}

.tags {
  list-style: none;
  font-style: italic;
  padding: 0;
  color: pink;
}

.tag {
  display: inline-block;
}

.post {
  background-color: red;
  width: 400px;
  margin: 6px;
  padding: 20px; 
  border-radius: 6px;
  box-shadow: 1px 2px 5px gray;
  display: inline-block;
}

.post-title {
  color: white;
  text-align: center;
  margin-bottom: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.post-content {
  background: white;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
}
.post-date {
  color: gainsboro;
  font-size: 24px;
  text-align: right;
}